body {
    color: #222;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 1.6;
}
.container {
    padding: 0 20px 0 20px;
    margin: 0 auto;
}
h1 {
   font-size: 3rem;
   margin: 4rem auto 1rem auto;
}

h2 {
    font-size: 1.25rem;
    opacity: .7;
}

.cta {
    background: green;
    border: none;
    border-radius: 0.5rem;;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin: 2rem auto;
    max-width: 240px;
    padding: 1rem;
    text-decoration: none;
}

.cta:hover,
.cta:focus {
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    opacity: .85;
}

.cta:active {
    box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
    background: darkgreen;
    opacity: 1;
}

.phrase-display {
    font-size: 2rem;font-weight: 500;
}

@media (min-width:640px){
    .container {
        max-width: 640px;
        padding: 0 20px 0 20px;
    }
}
@media (min-width:768px){
    .container {
        max-width: 768px;
        padding: 0 20px 0 20px;
    }

    p {
        font-size: 18px;
    }
}